%u_overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
}

%u_bg--white {
  background-color: white;
}
%u_bg--black {
  background-color: black;
}

%cursor-pointer {
  @media (min-width: 1024px) {
    cursor: pointer;
  }
}
