//-----------------------------------------------------------
// VARIABLES
//-----------------------------------------------------------

//-------------------------------------------------
// Colors
$primary: #1e2036;
$blue: #00bcdf;
$darkBlue: #0000ff;

//-------------------------------------------------
// Fonts

$notoSans: 'Noto Sans', Helvetica, Arial;

$arial-sans: Arial, sans-serif;
$Montserrat: 'Montserrat', sans-serif, $arial-sans;

$weight-thin: 100;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;
$weight-black: 900;

//-------------------------------------------------
// Break points

$sm: 320;
$sm-roomy: 375;
$md: 760;
$lg: 980;
$xl: 1280;
$xxl: 1400;
$xxxl: 1920;

//-------------------------------------------------
// MISC

$transition-time: 0.3s;
